<div class="card text-center p1" >

  <div class="botones">
      <input type="submit" (click)='isLogin = true' class="btn btn-lg btn-primary btn-block" value="Login">
      <input type="submit" (click)='isLogin = false' class="btn btn-lg btn-primary btn-block" value="Registrarse">
  </div>

<div class="formularios" height=80%>
  <div *ngIf="isLogin">
  <div class="card-body">
    <form method="post">
      <div class="form-group col-sm-6">
        <input type="text" [(ngModel)]="usuario.email" class="form-control"
        placeholder="Correo electronico" name="emaillog" id="emaillog" autofocus required/>
      </div>
      <br>

      <div class="form-group col-sm-6">
        <input type="password" [(ngModel)]="usuario.password" class="form-control"
        placeholder="Contraseña" name="password" id="password" required>
      </div>
      <br>

      <div class="form-group col-sm-6">
        <input type="submit" (click)='login()' class="btn btn-lg btn-primary btn-block" value="Login">
      </div>

    </form>
  </div>
</div>

<div *ngIf="!isLogin">
  <div class="card-body">
    <form method="post">
      <div class="form-group col-sm-6">
        <input type="text" [(ngModel)]="usuario.nombre" class="form-control"
        placeholder="Nombre de usuario" name="nombre" id="nombre" autofocus required>
      </div>
      <br>

      <div class="form-group col-sm-6">
        <input type="text" [(ngModel)]="usuario.primerapellido" class="form-control"
        placeholder="Primer apellido" name="primerapellido" id="primerapellido" autofocus required>
      </div>
      <br>

      <div class="form-group col-sm-6">
        <input type="text" [(ngModel)]="usuario.segundoapellido" class="form-control"
        placeholder="Segundo apellido" name="segundoapellido" id="segundoapellido" autofocus required>
      </div>
      <br>

      <div class="form-group col-sm-6">
        <input type="email" [(ngModel)]="usuario.email" class="form-control"
        placeholder="Correo electrónico" name="email" id="email" autofocus required>
      </div>
      <br>

      <div class="form-group col-sm-6">
        <input type="password" [(ngModel)]="usuario.password" class="form-control"
        placeholder="Contraseña" name="password" id="password" required>
      </div>
      <br>

      <div class="form-group col-sm-6">
        <input type="password" [(ngModel)]="usuario.password2" class="form-control"
        placeholder="Confirmar contraseña" name="password" id="password" required>
      </div>
      <br>

      <div class="form-group col-sm-6">
        <input type="text" [(ngModel)]="usuario.pago" class="form-control"
        placeholder="Tipo de pago" name="Pago" id="Pago" autofocus required>
      </div>

      <div class="form-group col-sm-6">
        <input type="submit" (click)='login()' class="btn btn-lg btn-primary btn-block" value="Login">
      </div>
    </form>
  </div>
</div>

<div>
