

*, *:before, *:after {
  box-sizing: border-box;
}



.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(#a0b3b0, .25);
    color: black;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;

    &:hover {
      background: darken(#689f38, 5%);
      color: white;
    }
  }


}


h1 {
  text-align: center;
  color: #4b5250;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  font-size: 22px;

  .req {
    margin: 2px;
    color: #689f38;
  }
}


label.highlight {
  color: #4b5250;
}


.field-wrap {
  position: relative;
  margin-bottom: 40px;
  .alerta{
    width: 90%;
  }
}

.top-row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div {
    float: left;
    width: 48%;
    margin-right: 4%;

    &:last-child {
      margin: 0;
    }
  }
}


.button-block {
  display: block;
  width: 100%;
}
