<div class="form">
  <ul class="tab-group" *ngIf="!isLogged()">

    <li class="tab"><a (click)='isLogin = true'>Login</a></li>
    <li class="tab"><a (click)='isLogin = false'>Registrarse</a></li>


  </ul>

  <div class="tab-content">
    <h1 *ngIf="isLogin">Bienvenido! <img [src]="['assets/images/logo.png']" alt="atos"
                                         class="img-fluid rounded-circle m-2" width="10%"></h1>
    <h1 *ngIf="!isLogin && !isLogged()">Regístrate Gratis! <img [src]="['assets/images/logo.png']" alt="atos"
                                                                class="img-fluid rounded-circle m-2" width="10%"></h1>


    <form #usuarioForm='ngForm' *ngIf="isLogin" method="post">
      <div class="field-wrap">
        <label for="emaillog">
          Email <span class="req">*</span>
        </label>
        <input required type="email" id="emaillog" class="form-control input" name="emaillog" autocomplete="off"
               [(ngModel)]="usuario.email" minlength="9" maxlength="320" #emaillog="ngModel"/>

        <div *ngIf="(emaillog.invalid && (emaillog.dirty || emaillog.touched))"
             class="alert alert-danger">
          <div *ngIf="emaillog.errors?.required">
            - El campo email es obligatorio
          </div>
          <div *ngIf="emaillog.errors?.minlength">
            - El campo email debe tener por lo menos 9 caracteres
          </div>
        </div>

      </div>

      <div class="field-wrap">
        <label for="passwordlog">
          Password<span class="req">*</span>
        </label>
        <input type="password" class="input" [(ngModel)]="usuario.password" class="input"
               name="passwordlog" id="passwordlog" required autocomplete="off"
               minlength="6" maxlength="30" #passwordlog="ngModel"/>

        <div *ngIf="passwordlog.invalid && (passwordlog.dirty ||passwordlog.touched)"
             class="alert alert-danger">
          <div *ngIf="passwordlog.errors?.required">
            El campo contraseña es obligatorio
          </div>
          <div *ngIf="passwordlog.errors?.minlength">
            El campo contraseña debe tener por lo menos 6 caracteres
          </div>
        </div>
      </div>
      <div *ngIf="!loginIncorrecto!=undefined" style="color:#FF0000;">
        {{loginIncorrecto}}
      </div>

      <button [disabled]="!usuarioForm.form.valid" (click)='login()'
              class="button button-block">
        Log In
      </button>


    </form>
    <form #regisForm='ngForm' *ngIf="!isLogin" method="post">

      <div class="top-row">
        <div class="field-wrap">
          <label>
            Nombre <span class="req">*</span>
          </label>
          <input type="text" class="input" id="nombre" name="nombre" required autocomplete="off"
                 minlength="2" maxlength="20" [(ngModel)]="usuario.nombre" #nombre="ngModel"/>

          <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
               class="alert alert-danger">
            <div *ngIf="nombre.errors?.required">
              El campo nombre es obligatorio
            </div>
            <div *ngIf="nombre.errors?.minlength">
              El campo nombre debe tener por lo menos 2 caracteres
            </div>
          </div>

        </div>

        <div class="field-wrap">
          <label>Primer Apellido <span class="req">*</span>
          </label>
          <input type="text" class="input" name="primerapellido" id="primerapellido"
                 [(ngModel)]="usuario.primerapellido"
                 required autocomplete="off" minlength="2" maxlength="20" #primerapellido="ngModel"/>

          <div *ngIf="primerapellido.invalid && (primerapellido.dirty || primerapellido.touched)"
               class="alert alert-danger">
            <div *ngIf="primerapellido.errors?.required">
              El campo primer apellido es obligatorio
            </div>
            <div *ngIf="primerapellido.errors?.minlength">
              El campo primer apellido debe tener por lo menos 2 caracteres
            </div>
          </div>

        </div>
        <div class="field-wrap">
          <label>Segundo Apellido <span class="req">*</span>
          </label>
          <input type="text" class="input" name="segundoapellido" [(ngModel)]="usuario.segundoapellido"
                 id="segundoapellido" required autocomplete="off" minlength="2" maxlength="20"
                 #segundoapellido="ngModel"/>

          <div *ngIf="segundoapellido.invalid && (segundoapellido.dirty || segundoapellido.touched)"
               class="alert alert-danger">
            <div *ngIf="segundoapellido.errors?.required">
              El campo segundo apellido es obligatorio
            </div>
            <div *ngIf="segundoapellido.errors?.minlength">
              El campo segundo apellido debe tener por lo menos 2 caracteres
            </div>
          </div>

        </div>
      </div>

      <div class="field-wrap">
        <label for="email">
          Email <span class="req">*</span>
        </label>
        <input type="email" class="input" required autocomplete="off" id="email" name="email" minlength="9"
               maxlength="320" [(ngModel)]="usuario.email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>

        <div *ngIf="(email.invalid && (email.dirty || email.touched))"
             class="alert alert-danger">
          <div *ngIf="email.errors?.required">
            - El campo email es obligatorio
          </div>
          <div *ngIf="email.errors?.minlength">
            - El campo email debe tener por lo menos 9 caracteres
          </div>
          <div *ngIf="email.errors?.pattern">
            - El formato del email es incorrecto. Un ejemplo de formato sería: ejemplo@gmail.com
          </div>
        </div>
      </div>

      <div class="field-wrap">
        <label>
          Contraseña<span class="req">*</span>
        </label>
        <input type="password" class="input" required name="password" [(ngModel)]="usuario.password" id="password"
               minlength="6" maxlength="30" [disabled]="passwordEditable()" autocomplete="off" #password="ngModel"/>

        <div
          *ngIf="(password.invalid && (password.dirty ||password.touched)) || !validarRegis.validarPassword(usuario.password)"
          class="alert alert-danger">
          <div *ngIf="password.errors?.required">
            - El campo contraseña es obligatorio
          </div>
          <div *ngIf="password.errors?.minlength">
            - El campo contraseña debe tener por lo menos 6 caracteres
          </div>
          <div *ngIf="!validarRegis.validarPassword(usuario.password)">
            - El campo contraseña debe contener como mínimo: Una letra mayúscula, una letra minúscula y un caracter
            especial
          </div>
        </div>
      </div>

      <div class="field-wrap">
        <label>
          Repite Contraseña<span class="req">*</span>
        </label>
        <input type="password" class="input" required name="password2" id="password2" [(ngModel)]="usuario.password2"
               minlength="6" maxlength="30" [disabled]="passwordEditable()" autocomplete="off" #password2="ngModel"/>
        <div *ngIf="(password2.invalid && (password2.dirty ||password2.touched)) ||
          (!validarRegis.compararPassword(usuario.password,usuario.password2) &&
            validarRegis.validarPassword(usuario.password))"
             class="alert alert-danger">
          <div *ngIf="password2.errors?.required">
            - El campo repite contraseña es obligatorio
          </div>
          <div *ngIf="password2.errors?.minlength">
            - El campo repite contraseña debe tener por lo menos 6 caracteres
          </div>
          <div *ngIf="!validarRegis.compararPassword(usuario.password,usuario.password2)">
            - Las contraseñas deben coincidir
          </div>
        </div>
      </div>

      <div class="field-wrap" *ngIf="!deshabilitarSelect(usuario.perfil)">
        <select [compareWith]="compararPerfil" class="custom-select mr-sm-2 select" [(ngModel)]="usuario.perfil"
                name="perfil">
          <option [ngValue]="undefined">Selecionar un perfil</option>
          <option *ngFor="let perfil of perfiles" [ngValue]="perfil">{{perfil.nombreperfil}}</option>
        </select>
      </div>

      <div *ngIf="!registroIncorrecto!=undefined" style="color:#FF0000;">
        {{registroIncorrecto}}
      </div>

      <button [disabled]="!regisForm.form.valid || !validarRegis.validarFormatoCampos(usuario, passwordDisabled)"
              (click)='registrarse()' type="submit" class="button button-block">
        Registrar
      </button>

    </form>

  </div>


</div>
