.btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
}

.p1 {
  display: flex;
  justify-content: center;
}

/*
.botones {
  margin-bottom: 8px;
}

.formularios {

}

form {
  width: 500px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-color: #f8f9fa;
}

input {
  width: 450px;
}
*/


*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: #c1bdba;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #689f38;
  transition: .5s ease;

  &:hover {
    color: darken(#689f38, 5%);
  }
}

.form {
  background: rgba(#f8f9fa, .9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(#f8f9fa, .3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(#a0b3b0, .25);
    color: black;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;

    &:hover {
      background: darken(#689f38, 5%);
      color: white;
    }
  }

  .active a {
    background: #689f38;
    color: white;
  }
}

.tab-content > div:last-child {
  display: none;
}


h1 {
  text-align: center;
  color: white;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(white, .5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;

  .req {
    margin: 2px;
    color: #689f38;
  }
}

label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;

  .req {
    opacity: 0;
  }
}

label.highlight {
  color: white;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  border: 1px solid #a0b3b0;
  color: white;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease;

  &:focus {
    outline: 0;
    border-color: #689f38;
  }
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  > div {
    float: left;
    width: 48%;
    margin-right: 4%;

    &:last-child {
      margin: 0;
    }
  }
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #689f38;
  color: white;
  transition: all .5s ease;
  -webkit-appearance: none;

  &:hover, &:focus {
    background: darken(#689f38, 5%);
  }
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}
