<div class="form">
  <ul class="tab-group" *ngIf="!isLogged()">

    <li class="tab"><a (click)='isLogin = true'>Login</a></li>
    <li class="tab"><a (click)='isLogin = false'>Registrarse</a></li>


  </ul>

  <div class="tab-content">
    <h1 *ngIf="isLogin">Bienvenido! <img [src]="['assets/images/logo.png']" alt="atos"
                                         class="img-fluid rounded-circle m-2" width="10%"></h1>
    <h1 *ngIf="!isLogin && !isLogged()">Regístrate Gratis! <img [src]="['assets/images/logo.png']" alt="atos"
                                                                class="img-fluid rounded-circle m-2" width="10%"></h1>


    <form #usuarioForm='ngForm' *ngIf="isLogin" method="post">
      <div class="field-wrap">
        <label for="emaillog">
          Email <span class="req">*</span>
        </label>
        <input type="email" class="input" id="emaillog" name="emaillog" required autocomplete="off"
               [(ngModel)]="usuario.email"/>
      </div>

      <div class="field-wrap">
        <label for="passwordlog">
          Password<span class="req">*</span>
        </label>
        <input type="password" class="input" [(ngModel)]="usuario.password" class="form-control"
               placeholder="Contraseña" name="passwordlog" id="passwordlog" required autocomplete="off"/>
      </div>


      <button [disabled]="!usuarioForm.form.valid" (click)='login()' class="button button-block">
        Log In
      </button>

    </form>
    <form #regisForm='ngForm' *ngIf="!isLogin" method="post">

      <div class="top-row">
        <div class="field-wrap">
          <label>
            Nombre <span class="req">*</span>
          </label>
          <input type="text" class="input" name="nombre" required autocomplete="off" [(ngModel)]="usuario.nombre"/>
        </div>

        <div class="field-wrap">
          <label>Primer Apellido <span class="req">*</span>
          </label>
          <input type="text" class="input" name="primerapellido"
                 [(ngModel)]="usuario.primerapellido" required autocomplete="off"/>
        </div>
        <div class="field-wrap">
          <label>Segundo Apellido <span class="req">*</span>
          </label>
          <input type="text" class="input" name="primerapellido"
                 [(ngModel)]="usuario.segundoapellido" required autocomplete="off"/>
        </div>
      </div>

      <div class="field-wrap">
        <label for="email">
          Email <span class="req">*</span>
        </label>
        <input type="email" class="input" required autocomplete="off" id="email" name="email"
               [(ngModel)]="usuario.email"/>
      </div>

      <div class="field-wrap">
        <label>
          Contraseña<span class="req">*</span>
        </label>
        <input type="password" class="input" required name="password" [(ngModel)]="usuario.password"
               [disabled]="passwordEditable()"
               autocomplete="off"/>
      </div>
      <div class="field-wrap">
        <label>
          Repite Contraseña<span class="req">*</span>
        </label>
        <input type="password" class="input" required name="password2" [(ngModel)]="usuario.password2"
               [disabled]="passwordEditable()" autocomplete="off"/>
      </div>
      <div class="field-wrap" *ngIf="!deshabilitarSelect(usuario.perfil)">
        <select [compareWith]="compararPerfil" class="custom-select mr-sm-2 select" [(ngModel)]="usuario.perfil"
                name="perfil">
          <option *ngFor="let perfil of perfiles" [ngValue]="perfil">{{perfil.nombreperfil}}</option>
        </select>
      </div>

      <button [disabled]="!regisForm.form.valid" (click)='registrarse()' type="submit" class="button button-block">
        Registrar
      </button>

    </form>

  </div>


</div>
