/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}


.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 1px 3px 1px 3px;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  background: #689f38;
  color: white;
  transition: all .5s ease;
  -webkit-appearance: none;

  &:hover, &:focus {
    background: darken(#689f38, 5%);
  }
}

.button-block {
  display: block;
  width: 100%;
}

.input, .select {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  border: 1px solid #a0b3b0;
  color: #4b5250;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease;

  &:focus {
    outline: 0;
    border-color: #689f38;
  }
}

.form {
  background: rgba(#f8f9fa, .9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(#f8f9fa, .3);
}
