<div class="form">


  <div class="tab-content " height=80%>
    <h1>{{titulo}}</h1>
    <form #prodcutoForm='ngForm' method="post">

      <div class="field-wrap">
        <label>Nombre
        </label>
        <input required type="text" class="form-control input" name="name" pInputText [(ngModel)]="producto.nombre">
      </div>


      <div class="field-wrap">
        <label for="descripcion">Descripción</label>
        <textarea class="form-control" id="descripcion" rows="3" name="descripcion"
                  [(ngModel)]="producto.descripcion"></textarea>
      </div>


      <div class="field-wrap">
        <label>Precio</label>
        <input required type="number" class="form-control input" name="precio" [(ngModel)]="producto.precio">
      </div>
      <div class="field-wrap">
        <label>Cantidad</label>
        <input required type="number" class="form-control input" name="Cantidad" [(ngModel)]="producto.cantidad">
      </div>

      <div class="field-wrap">
        <input required (change)="seleccionarFoto($event)" type="file" class="form-control input" id="inputGroupFile04">
      </div>


      <div class="field-wrap">
        <label class="m-2">Categoria</label>
        <select name="categoria" [(ngModel)]="producto.idcategoria" class="custom-select select"
                id="inputGroupSelect01">
          <option [ngValue]="undefined" select>Selecionar una Categoria</option>
          <option *ngFor="let categoria of categorias" [ngValue]="  categoria">{{categoria.nombrecategoria}}
          </option>

        </select>
      </div>

      <div class="form-group col-sm-6">

        <div class="col-sm-6">
          <button class="button button-block" type="submit" role="button" (click)="create()"
                  [disabled]="!prodcutoForm.form.valid" *ngIf="!producto.id else elseBlock ">Crear
          </button>
        </div>
        <ng-template #elseBlock>
          <button class="button button-block" type="submit" role="button"
                  [disabled]="!prodcutoForm.form.valid" (click)="update()">Actualizar
          </button>
        </ng-template>

      </div>
    </form>
  </div>
</div>
