
h1 {
  text-align: center;
  color: #4b5250;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  font-size: 22px;

  .req {
    margin: 2px;
    color: #689f38;
  }
}


label.highlight {
  color: #4b5250;
}


.field-wrap {
  position: relative;
  margin-bottom: 40px;
}


