<div class="form">


  <div class="tab-content " height=80%>
    <h1>{{titulo}}</h1>
    <form #prodcutoForm='ngForm' method="post">

      <div class="field-wrap">
        <label>Nombre<span class="req">*</span>
        </label>
        <input required type="text" class="form-control input" name="name" pInputText [(ngModel)]="producto.nombre"
               #nombreP="ngModel" minlength="2" maxlength="100">
        <div *ngIf="nombreP.invalid && (nombreP.dirty || nombreP.touched)"
             class="alert alert-danger">
          <div *ngIf="nombreP.errors?.required">
            El campo nombre es obligatorio
          </div>
          <div *ngIf="nombreP.errors?.minlength">
            El campo nombre debe tener por lo menos 2 caracteres
          </div>
        </div>
      </div>


      <div class="field-wrap">
        <label for="descripcion">Descripción</label>
        <textarea class="form-control" id="descripcion" rows="3" name="descripcion" maxlength="300"
                  [(ngModel)]="producto.descripcion"></textarea>
      </div>


      <div class="field-wrap">
        <label>Precio<span class="req">*</span></label>
        <input required type="number" class="form-control input" name="precio" [(ngModel)]="producto.precio"
               #precio="ngModel">
        <div *ngIf="precio.invalid && (precio.dirty || precio.touched)"
             class="alert alert-danger">
          <div *ngIf="precio.errors?.required">
            El campo precio es obligatorio
          </div>
        </div>
      </div>
      <div class="field-wrap">
        <label>Cantidad<span class="req">*</span></label>
        <input required type="number" class="form-control input" name="Cantidad" [(ngModel)]="producto.cantidad"
               #cantidad="ngModel">
        <div *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)"
             class="alert alert-danger">
          <div *ngIf="cantidad.errors?.required">
            El campo cantidad es obligatorio
          </div>
        </div>
      </div>

      <div class="field-wrap">
        <input (change)="seleccionarFoto($event)" type="file" class="form-control input" id="inputGroupFile04">
      </div>


      <div class="field-wrap">
        <label class="m-2">Categoria</label>

        <select name="categoria" [compareWith]="compararCategoriaa" [(ngModel)]="producto.idcategoria"
                class="custom-select select"
                id="inputGroupSelect01">
          <option [ngValue]="undefined">Selecionar una Categoria</option>
          <option *ngFor="let categoria of categorias" [ngValue]="categoria">{{categoria.nombrecategoria}}
          </option>

        </select>
      </div>

      <div class="form-group col-sm-6">

        <div class="col-sm-6">
          <button class="button button-block" type="submit" role="button" (click)="create()"
                  [disabled]="!prodcutoForm.form.valid" *ngIf="!producto.id else elseBlock ">Crear
          </button>
        </div>
        <ng-template #elseBlock>
          <button class="button button-block" type="submit" role="button"
                  [disabled]="!prodcutoForm.form.valid" (click)="update()">Actualizar
          </button>
        </ng-template>

      </div>
    </form>
  </div>
</div>
