<div class="card">
  <p-dataView #dv [value]="productos" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
    <ng-template pTemplate="header">
      <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
        <p-dropdown [options]="sortOptions" placeholder="Sort By Price" (onChange)="onSortChange($event)"
          styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
        <span class="p-input-icon-left p-mb-2 p-mb-md-0">

          <form>
            <input type="text" name="nombre" pInputText placeholder="Buscar por nombre" [(ngModel)]="busqueda.nombre">
            <input type="text" pInputText placeholder="Buscar por descripción">
            <p-button role="button" (click)='buscar()'>
              <i class="pi pi-search"></i>
            </p-button>
            <div class="p-field-checkbox">
              <input type="checkbox" name="foto" [(ngModel)]="busqueda.foto" />
              <label for="foto">Sólo productos con foto</label>
            </div>


          </form>
        </span>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </ng-template>
    <!--Panel List View-->
    <ng-template let-producto pTemplate="listItem">
      <div class="p-col-12">
        <div class="product-list-item">
          <a  [routerLink]="['/producto/', producto.id]"><img [src]="producto.foto" [alt]="producto.nombre" /></a>
          <div class="product-list-detail">
            <div class="product-name">{{producto.nombre}}</div>
            <div class="product-description">{{producto.descripcion}}</div>
            <i class="pi pi-tag product-category-icon"></i><span
              class="product-category">{{producto.idcategoria.nombrecategoria}}</span>
          </div>
          <div class="product-list-action">
            <span class="product-price">{{producto.precio}}€</span>
            <p-button icon="pi pi-shopping-cart" label="Add to Cart"></p-button>
          </div>
        </div>

      </div>
    </ng-template>
    <!--Panel Grid View-->
    <ng-template let-producto pTemplate="gridItem">
      <div class="p-col-12 p-sm-4">
        <div class="product-grid-item card">
          <div class="product-grid-item-top">
            <div>
              <i class="pi pi-tag product-category-icon"></i>
              <span class="product-category">{{producto.idcategoria.nombrecategoria}}</span>
            </div>

          </div>
          <div class="product-grid-item-content">
            <a  [routerLink]="['/producto/', producto.id]"><img *ngIf="producto?.foto" [src]="urlImg +''+ producto.foto" [alt]="producto.nombre" />
              <img class="img-thumbnail rounded" *ngIf="!producto?.foto" src="http://localhost:8090/images/notImagen.jpg" alt="sin foto" >
            </a>
            <div class="product-name">{{producto.nombre}}</div>
            <div class="product-description">{{producto.descripcion}}</div>

          </div>
          <div class="product-grid-item-bottom">
            <span class="product-price">{{producto.precio}}€</span>
            <p-button icon="pi pi-shopping-cart" label="Add to Cart"></p-button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
<!--<ul>
    <li *ngFor="let p of productos">{{p.nombre}}</li>
</ul>-->
