.carritoCard {
  margin-left: 40px;
  margin-right: 40px;
}

.cardImg {
  width: 20%;
}

.detallesCard {
  width: 100%;
}

.detallesCard p {
  margin-top: 40px;
}

.carritoCard2 {
  margin-left: 40px;
  margin-right: 40px;
}

.carritoCard2 p {
  margin-top: 10px !important;
  margin: 10px;
}
