<div class="container">
  <h1 *ngIf="false">{{usuario.nombre}}, tu pedido se ha realizado con éxito</h1>
  <div class="container">
    <h3>Detalles de la compra</h3>
    <table>
      <caption>Productos pedidos</caption>
      <tbody>
      <tr>
        <th>Árticulo</th>
        <th>Descripcion</th>
        <th>Cantidad</th>
        <th>Precio</th>
      </tr>
      <tr>
        <td>Nombre</td>
        <td>Descripcion</td>
        <td>Cantidad del carrito</td>
        <td>Precio Articulo</td>
      </tr>
      </tbody>
    </table>

    <div class="container">
      <p>Usuario, también te recomendamos que eches un vistazo a nuestra selección de categoria</p>
    </div>
  </div>
</div>
