<h2 class="text-center">Carrito </h2>
<div class="d-flex flex-row card carritoCard">
    <div class="cardImg">
        <img class="img-thumbnail rounded" src="http://localhost:8090/images/notImagen.jpg" alt="sin foto">
    </div>
    <div class="text-center detallesCard ">
        <h2>Nombre</h2>
        <div class=" d-flex align-items-end justify-content-around " width="100%">
            <p>Precio: </p>
            <p>Cantidad: </p>
            <p>Total: </p>
        </div>
    </div>
</div>

<div class="carritoCard2 card mt-3 d-flex flex-row-reverse ">
    <p class="mt-1">Total: </p>
</div>