<div class="card mb-6" style="border-color: #4CAF50">
  <div class="card-header">Usuarios</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de usuarios</h5>
    <form class="formBusqueda">
      <input class=" elementBusqueda" type="text" name="email" pInputText placeholder="Buscar por email"
             [(ngModel)]="busqueda.email">
      <input class="elementBusqueda" type="text" name="nombre" pInputText placeholder="Buscar por nombre"
             [(ngModel)]="busqueda.nombre">

      <input class="elementBusqueda" type="text" name="primerapellido" pInputText placeholder="Buscar por 1º apellido"
             [(ngModel)]="busqueda.primerapellido">
      <input class="elementBusqueda" type="text" name="segundoapellido" pInputText placeholder="Buscar por 2º apellido"
             [(ngModel)]="busqueda.segundoapellido">
      <p-button class="elementBusqueda boton" role="button" (click)='buscar()'>
        <i class="pi pi-search"></i>
      </p-button>


    </form>
    <div class="my-2 text-left">
    </div>

    <table class="table table-bordered table-striped" >
      <thead>
        <tr>
          <th>Email</th>
          <th>Nombre</th>
          <th>Primer apellido</th>
          <th>Segundo apellido</th>
          <th>Tipo perfil</th>
          <th colspan="3">
            <button type="button" name="edssdds" class="btnAnhadir btn-lg btn-primary btn-block" (click)="addSecretarioAdmin()">
              Añadir usuario
          </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios ">
            <td>{{ usuario.email}}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.primerapellido }}</td>
            <td>{{ usuario.segundoapellido }}</td>
            <td>{{ usuario.perfil.nombreperfil }}</td>
            <td align="center">
            <button type="button" name="editar"class="btn btn-primary" (click)="preguntaEditar(usuario)" >
              editar
          </button>
          </td>
          <td>
            <button type="button" name="eliminar" (click)="delete(usuario)" class="btn btn-danger" [disabled]="usuario.email==nombreUsuario">
              Eliminar
            </button>
          </td>
          <td>
            <button type="button" name="Desbloquear" (click)="preguntaDesbloquear(usuario)"
             class="btn btn-secundary btn-primary btn-block" [disabled]="!usuario.bloqueada">
              Desbloquear
            </button>
          </td>
        </tr>
      </tbody>
    </table>


  </div>
</div>
