.formBusqueda {
  .elementBusqueda {
    margin-left: .5rem;
    margin-top: .5rem;
    display: inline-flex;
  }

}

.table{
  background-color: #f8f9fa;
}

.btn {
  width: 100%;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  margin: 4px 2px;
  border-radius: 5px;
}

.btnEditar {
  width: 100%;
  background-color: #218BC0;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.btnAnhadir {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.btnEliminar {
  width: 100%;
  background-color:#CB2E19;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}
