<div class="card border-primary mb-3">
  <div class="card-header">Usuarios</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de usuarios</h5>

    <div class="my-2 text-left">
    </div>

    <table class="table table-bordered table-striped" >
      <thead>
        <tr>
          <th>Email</th>
          <th>Nombre</th>
          <th>Primer apellido</th>
          <th>Segundo apellido</th>
          <th>Tipo perfil</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios ">
            <td>{{ usuario.email}}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.primerapellido }}</td>
            <td>{{ usuario.segundoapellido }}</td>
            <td>{{ usuario.perfil.nombreperfil }}</td>
            <td align="center" *ngIf="usuario.perfil.nombreperfil!='CLIENTE'">
            <button type="button" name="editar"class="btn btn-primary" [routerLink]="['/administrador/actualizar',usuario.idusuario]">
              editar
          </button>
          </td>
          <td align="center" *ngIf="usuario.perfil.nombreperfil=='CLIENTE'">
            <button type="button" name="editar"class="btn btn-primary" disabled>
              editar
            </button>
          </td>
          <td *ngIf="usuario.email==nombreUsuario || rolUsuario!='ADMINISTRADOR'">
            <button type="button" name="eliminar"  class="btn btn-danger" disabled>
              Eliminar
          </button>
          <td *ngIf="usuario.email!=nombreUsuario && rolUsuario=='ADMINISTRADOR'">
            <button type="button" name="eliminar" (click)="delete(usuario)" class="btn btn-danger">
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>


  </div>
</div>
