<app-modal-usuario *ngIf="abierto"></app-modal-usuario>

<p-menubar [model]="items">
  <!--<li pInputTest class="p-menuItem">
    <i class="pi pi-fw pi-book"></i>
  </li>-->
  <div>

    <span *ngIf="!isLogged()">
      <button pButton pRipple type="button" icon="pi pi-fw pi-users" class=" p-button-success mx-2 my-1" label="Accede"
              [routerLink]="['/login']">
      </button>
    </span>

    <span class="dropdown" *ngIf="isLogged() && isAdmin()">
      <p-splitButton icon="pi pi-fw pi-users" [model]="itemsButtonAd"
                     styleClass="p-button-success mx-2 my-1"></p-splitButton>
    </span>
    <span class="dropdown" *ngIf="isLogged() && !isAdmin()">
      <p-splitButton icon="pi pi-fw pi-users" [model]="itemsButtonCli"
                     styleClass="p-button-success mx-2 my-1"></p-splitButton>
    </span>


    <button *ngIf="isCliente()" pButton pRipple type="button" icon="pi pi-shopping-cart"
            class=" p-button-success mx-2 my-1"
            label="carrito" [routerLink]="['/pedido']">
    </button>

  </div>
</p-menubar>
